/* Theme */

main {
	background-image: linear-gradient(to right, rgba(190, 188, 188, 0.781), rgba(255,0,0,0));
	color: #FAFAFA;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}